In [1]:
import pandas as pd
import numpy as np
import re
import nltk
import seaborn as sns
import matplotlib.pyplot as plt

In [25]:
df = pd.read_csv('/Users/willis/Desktop/github repos/NYP_ITI110/data/phishing_email.csv')
# df = df.drop(columns=['label'])
df.head()

                                       text_combined  label
0  hpl nom may 25 2001 see attached file hplno 52...      0
1  nom actual vols 24 th forwarded sabrae zajac h...      0
2  enron actuals march 30 april 1 201 estimated a...      0
3  hpl nom may 30 2001 see attached file hplno 53...      0
4  hpl nom june 1 2001 see attached file hplno 60...      0

In [63]:
df = pd.read_csv('/Users/willis/Desktop/github repos/NYP_ITI110/data/cleaned_spam_or_not_spam.csv')
# df = df.drop(columns=['label'])
df = df.rename(columns={'cleaned_text': 'text_combined'})
df.head()

                                       text_combined  label
0  date wed number aug number number number numbe...      0
1  martin a posted tassos papadopoulos the greek ...      0
2  man threatens explosion in moscow thursday aug...      0
3  klez the virus that won t die already the most...      0
4  in adding cream to spaghetti carbonara which h...      0

In [80]:
df = pd.read_csv('/Users/willis/Desktop/github repos/NYP_ITI110/data/cleaned_spam_ham_dataset.csv')
# df = df.drop(columns=['label'])
df = df.rename(columns={'cleaned_text': 'text_combined'})
df.head()

                                       text_combined  label
0  enron methanol meter this is a follow up to th...      0
1  hpl nom for january see attached file hplnol x...      0
2  neon retreat ho ho ho we re around to that mos...      0
3  photoshop windows office cheap main trending a...      1
4  re indian springs this deal is to book the tec...      0

In [45]:
df = pd.read_csv('/Users/willis/Desktop/github repos/NYP_ITI110/data/spam.csv')
# df = df.drop(columns=['label'])
df = df.rename(columns={'Category': 'label', 'Message': 'text_combined'})
df.head()

  label                                      text_combined
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [26]:
df['label'] = np.where(df['label'] == 1, 2, df['label'])
df.head()

                                       text_combined  label
0  hpl nom may 25 2001 see attached file hplno 52...      0
1  nom actual vols 24 th forwarded sabrae zajac h...      0
2  enron actuals march 30 april 1 201 estimated a...      0
3  hpl nom may 30 2001 see attached file hplno 53...      0
4  hpl nom june 1 2001 see attached file hplno 60...      0

In [81]:
df['label'].value_counts()

# 0: legit emails
# 1: spam emails
# 2: phishing emails

label
0    3672
1    1481
Name: count, dtype: int64

In [82]:
# remove numbers in dataframe

df['text_combined'] = df['text_combined'].replace('\d+', '', regex=True)
df.head()

<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
/var/folders/lf/q631jd0s5p5g91_m_mj76hgr0000gn/T/ipykernel_14741/2460041562.py:3: SyntaxWarning: invalid escape sequence '\d'
  df['text_combined'] = df['text_combined'].replace('\d+', '', regex=True)

                                       text_combined  label
0  enron methanol meter this is a follow up to th...      0
1  hpl nom for january see attached file hplnol x...      0
2  neon retreat ho ho ho we re around to that mos...      0
3  photoshop windows office cheap main trending a...      1
4  re indian springs this deal is to book the tec...      0

In [83]:
# remove punctuations in dataframe
# edit some punctuations to space instead

df = df.replace('[.,]+', '', regex=True)
df = df.replace('[/]+', ' ', regex=True)
df.head()

                                       text_combined  label
0  enron methanol meter this is a follow up to th...      0
1  hpl nom for january see attached file hplnol x...      0
2  neon retreat ho ho ho we re around to that mos...      0
3  photoshop windows office cheap main trending a...      1
4  re indian springs this deal is to book the tec...      0

In [84]:
# change all to lowercase in dataframe

df = df.apply(lambda x: x.astype(str).str.lower())
df.head()

                                       text_combined label
0  enron methanol meter this is a follow up to th...     0
1  hpl nom for january see attached file hplnol x...     0
2  neon retreat ho ho ho we re around to that mos...     0
3  photoshop windows office cheap main trending a...     1
4  re indian springs this deal is to book the tec...     0

In [85]:
# drop any values in the dataframe

print("Original Data: {}".format(df.shape))

df = df.dropna()

print("New Data: {}".format(df.shape))
df.head()

Original Data: (5153, 2)
New Data: (5153, 2)

                                       text_combined label
0  enron methanol meter this is a follow up to th...     0
1  hpl nom for january see attached file hplnol x...     0
2  neon retreat ho ho ho we re around to that mos...     0
3  photoshop windows office cheap main trending a...     1
4  re indian springs this deal is to book the tec...     0

In [86]:
# convert short forms to full terms e.g. can't --> cannot

def contraction(s):
    s = re.sub(r"doesn't", "does not", s)
    s = re.sub(r"don't", "do not", s)
    s = re.sub(r"didn't", "did not", s)
    s = re.sub(r"won't", "will not", s)
    s = re.sub(r"wouldn't", "would not", s)
    s = re.sub(r"haven't", "have not", s)
    s = re.sub(r"hasn't", "has not", s)
    s = re.sub(r"hadn't", "had not", s)
    s = re.sub(r"shan't", "shall not", s)
    s = re.sub(r"can't", "cannot", s)
    s = re.sub(r"\'re", " are", s)
    s = re.sub(r"\'s", " is", s)
    s = re.sub(r"\'ll", " will", s)
    # s = re.sub(r"n't", " not", s)
    s = re.sub(r"\'ve", " have", s)
    s = re.sub(r"\'m", " am", s)
    
    return s

df['preprocessed-text'] = df['text_combined'].apply(lambda x: contraction(x))

df.head()

,text_combined,label,preprocessed-text
0,enron methanol meter this is a follow up to th...,0,enron methanol meter this is a follow up to th...
1,hpl nom for january see attached file hplnol x...,0,hpl nom for january see attached file hplnol x...
2,neon retreat ho ho ho we re around to that mos...,0,neon retreat ho ho ho we re around to that mos...
3,photoshop windows office cheap main trending a...,1,photoshop windows office cheap main trending a...
4,re indian springs this deal is to book the tec...,0,re indian springs this deal is to book the tec...

In [87]:
# remove non alpha characters

df['preprocessed-text'] = df['preprocessed-text'].replace('[^A-Za-z]+', ' ', regex=True)
df.head()

,text_combined,label,preprocessed-text
0,enron methanol meter this is a follow up to th...,0,enron methanol meter this is a follow up to th...
1,hpl nom for january see attached file hplnol x...,0,hpl nom for january see attached file hplnol x...
2,neon retreat ho ho ho we re around to that mos...,0,neon retreat ho ho ho we re around to that mos...
3,photoshop windows office cheap main trending a...,1,photoshop windows office cheap main trending a...
4,re indian springs this deal is to book the tec...,0,re indian springs this deal is to book the tec...

In [88]:
# remove extra spaces

df['preprocessed-text'] = df['preprocessed-text'].replace(' +', ' ', regex=True)
df.head()

,text_combined,label,preprocessed-text
0,enron methanol meter this is a follow up to th...,0,enron methanol meter this is a follow up to th...
1,hpl nom for january see attached file hplnol x...,0,hpl nom for january see attached file hplnol x...
2,neon retreat ho ho ho we re around to that mos...,0,neon retreat ho ho ho we re around to that mos...
3,photoshop windows office cheap main trending a...,1,photoshop windows office cheap main trending a...
4,re indian springs this deal is to book the tec...,0,re indian springs this deal is to book the tec...

In [89]:
# import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('vader_lexicon')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/willis/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /Users/willis/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/willis/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/willis/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [90]:
from nltk.corpus import stopwords

stop_words = stopwords.words('english')
df['preprocessed-text'] = df['preprocessed-text'].apply(lambda x: ' '.join([x for x in x.split() if x not in stop_words]))

df.head()

,text_combined,label,preprocessed-text
0,enron methanol meter this is a follow up to th...,0,enron methanol meter follow note gave monday p...
1,hpl nom for january see attached file hplnol x...,0,hpl nom january see attached file hplnol xls h...
2,neon retreat ho ho ho we re around to that mos...,0,neon retreat ho ho ho around wonderful time ye...
3,photoshop windows office cheap main trending a...,1,photoshop windows office cheap main trending a...
4,re indian springs this deal is to book the tec...,0,indian springs deal book teco pvr revenue unde...

In [91]:
# lemmatization

from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize

word_lemmatizer = WordNetLemmatizer()
df['preprocessed-text'] = df['preprocessed-text'].apply(lambda x: " ".join([word_lemmatizer.lemmatize(word) for word in x.split()]))

df.head()

,text_combined,label,preprocessed-text
0,enron methanol meter this is a follow up to th...,0,enron methanol meter follow note gave monday p...
1,hpl nom for january see attached file hplnol x...,0,hpl nom january see attached file hplnol xl hp...
2,neon retreat ho ho ho we re around to that mos...,0,neon retreat ho ho ho around wonderful time ye...
3,photoshop windows office cheap main trending a...,1,photoshop window office cheap main trending ab...
4,re indian springs this deal is to book the tec...,0,indian spring deal book teco pvr revenue under...

In [92]:
df_cleaned = pd.DataFrame(df[['preprocessed-text', 'label']])
df_cleaned.rename(columns={'preprocessed-text': 'text'}, inplace=True)
df_cleaned.head()

                                                text label
0  enron methanol meter follow note gave monday p...     0
1  hpl nom january see attached file hplnol xl hp...     0
2  neon retreat ho ho ho around wonderful time ye...     0
3  photoshop window office cheap main trending ab...     1
4  indian spring deal book teco pvr revenue under...     0

In [93]:
df_cleaned['label'] = np.where(df_cleaned['label'] == '0', 'ham', 'spam')
df_cleaned.head()

                                                text label
0  enron methanol meter follow note gave monday p...   ham
1  hpl nom january see attached file hplnol xl hp...   ham
2  neon retreat ho ho ho around wonderful time ye...   ham
3  photoshop window office cheap main trending ab...  spam
4  indian spring deal book teco pvr revenue under...   ham

In [94]:
df_cleaned['label'].value_counts()

label
ham     3672
spam    1481
Name: count, dtype: int64

In [95]:
df_cleaned.to_csv('/Users/willis/Desktop/github repos/NYP_ITI110/cleaned_data/spam_cleaned_3.csv')

In [2]:
df1 = pd.read_csv('/Users/willis/Desktop/github repos/NYP_ITI110/cleaned_data/phishing_cleaned.csv', index_col=0)
df2 = pd.read_csv('/Users/willis/Desktop/github repos/NYP_ITI110/cleaned_data/spam_cleaned_1.csv', index_col=0)
df3 = pd.read_csv('/Users/willis/Desktop/github repos/NYP_ITI110/cleaned_data/spam_cleaned_2.csv', index_col=0)
df4 = pd.read_csv('/Users/willis/Desktop/github repos/NYP_ITI110/cleaned_data/spam_cleaned_3.csv', index_col=0)

all_data = pd.concat([df1, df2, df3, df4], ignore_index=True)
all_data.head()

                                                text label
0    hpl nom may see attached file hplno xl hplno xl   ham
1  nom actual vols th forwarded sabrae zajac hou ...   ham
2  enron actuals march april estimated actuals ma...   ham
3    hpl nom may see attached file hplno xl hplno xl   ham
4   hpl nom june see attached file hplno xl hplno xl   ham

In [3]:
all_data['label'].value_counts()

label
ham         50592
phishing    42891
spam         2726
Name: count, dtype: int64

In [4]:
sampled_data = all_data.groupby('label', group_keys=False).apply(lambda x: x.sample(n=2000, random_state=42))
sampled_data = sampled_data.reset_index(drop=True)
print(sampled_data['label'].value_counts())

label
ham         2000
phishing    2000
spam        2000
Name: count, dtype: int64

/var/folders/lf/q631jd0s5p5g91_m_mj76hgr0000gn/T/ipykernel_16445/1095492761.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled_data = all_data.groupby('label', group_keys=False).apply(lambda x: x.sample(n=2000, random_state=42))

In [5]:
all_data['text'] = all_data['text'].str.replace(r'\d+', '', regex=True).str.strip()

In [6]:
sampled_data['text'] = sampled_data['text'].str.replace(r'\d+', '', regex=True).str.strip()

In [17]:
all_data.to_csv('/Users/willis/Desktop/github repos/NYP_ITI110/Email_Detection/final_dataset.csv', index=False)

In [7]:
sampled_data.to_csv('/Users/willis/Desktop/github repos/NYP_ITI110/Email_Detection/sample_dataset.csv', index=False)

In [8]:
sample_dict = {}

for index, row in sampled_data.iterrows():
    label = row['label']
    text = row['text']
    
    if label in sample_dict:
        sample_dict[label].append(text)
    else:
        sample_dict[label] = [text]

In [9]:
intent = {}
intent['intents'] = []

for key, value in sample_dict.items():
    df_dict = {}
    df_dict['tag'] = key
    df_dict['patterns'] = []
    for sentence in value:
        df_dict['patterns'].append(sentence)
    if key == 'ham':
        df_dict['responses'] = ['Safe Email']
    if key == 'spam':
        df_dict['responses'] = ['Spam Email']
    if key == 'phishing':
        df_dict['responses'] = ['Phishing Email']
    intent['intents'].append(df_dict)

In [10]:
import json
file_path = '../Email_Detection/sample_dict.json'

with open(file_path, 'w') as json_file:
    json.dump(intent, json_file)

print(f"Dictionary saved as JSON file: {file_path}")

Dictionary saved as JSON file: ../Email_Detection/sample_dict.json